@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  background-color: #f0eef7;
}
.App {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.heading {
  color: #6554af;
  padding: 20px;
}
.container {
  width: 80%;
  margin: 10px auto;
  padding: 100px 40px;
  border: 1px solid #a0c49d;
  border-radius: 9px;
  background-color: #f7ffe5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 16px;
  color: #6554af;
}

.btn {
  display: block;
  padding: 3px 20px;
  background-color: #e1ecc8;
  border: none;
  border: 1px solid #a0c49d;
  border-radius: 4px;
  color: #6554af;
  font-size: 18px;
}
.btn:hover {
  background-color: #c4d7b2;
}

.date-container {
  display: inline-block;
  background-color: #e1ecc8;
  padding: 18px 36px;
  color: #6554af;
  border-radius: 9px;
  margin-top: 24px;
}
